<html class="no-js" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <!--<![endif]-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.desc }}">
    <link rel="shortcut icon" type="image/png" href="~/../public/img/favicon.png" />

    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/green.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/application.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{ site.baseurl }}/stylesheets/stylesheet.css" type="text/css" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/public/js/toc.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/public/js/anchor.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/public/js/pdfmake.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/public/js/vfs_fonts.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/contrast.css">

</head>

<body class="index              DadosGovBrHomeController              False   ">
    <div id="barra-brasil">
        <ul id="menu-barra-temp" style="list-style:none;">
            <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
                <a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal
                    do Governo Brasileiro</a>
            </li>
        </ul>
    </div>
    <header class="masthead">
        <div id="mySidenav" class="sidenav">
            <div id="Sidenavin">
                <a class="closebtn" onclick="closeNav()">&times;</a>
                <a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-15"
                    target="_blank">Sobre o Sistema</a>
                <a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-15/estatisticas-2"
                    target="_blank">Manuais de Utilização</a>
                <a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-15/estatisticas-6"
                    target="_blank">Perguntas Frequentes - FAQ</a>
                <a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-15/estatisticas-4"
                    target="_blank">Normas</a>
                <li class="button" id="acesso-siscoserv">
                    <a href="https://www.siscoserv.mdic.gov.br/" target="_blank">Acesse o Siscoserv</a>
                </li>
                <li class="site-options">
                    <a style="text-transform: uppercase" href="#altocontraste" onclick="window.toggleContrast()"
                        onkeydown="window.toggleContrast()">
                        <i class="fas fa-adjust"></i>
                        Alto contraste
                    </a>
                    <a href="http://www.vlibras.gov.br/" id="vlibras" target="_blank">
                        <i class="fas fa-deaf"></i>
                        VLIBRAS
                    </a>
                </li>
            </div>
        </div>


        <img class="logo-do-siscoserv" src="{{ site.baseurl }}/public/img/logo-bg-menu.svg" alt="logo do Siscoserv">
        <ul class="menu-topo">

            <a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-15"
                target="_blank">
                <li>Sobre o Sistema</li>
            </a>

            <a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-15/estatisticas-2"
                target="_blank">
                <li>Manuais de Utilização</li>
            </a>
            <li class="active">
                <a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-15/estatisticas-6"
                    target="_blank">Perguntas Frequentes - FAQ</a>
            </li>
            <li>
                <a href="http://www.mdic.gov.br/index.php/comercio-servicos/a-secretaria-de-comercio-e-servicos-scs-15/estatisticas-4"
                    target="_blank">Normas</a>
            </li>
            <li class="button">
                <a href="https://www.siscoserv.mdic.gov.br/" target="_blank">Acesse o Siscoserv</a>
            </li>
            <a>
            <a style="text-transform: uppercase;font-size: 70%; margin-right: 15px" href="http://www.vlibras.gov.br/" id="altocontraste"
            target="_blank">
            <li id="portal-siteactions">
                <i class="fas fa-deaf vlibras"></i>
                VLIBRAS
            </li>
            </a>
          
            <a style="text-transform: uppercase;font-size: 70%;" href="#altocontraste" accesskey="3" onclick="window.toggleContrast()"
                onkeydown="window.toggleContrast()">
                <li id="portal-siteactions">
                    <i class="fas fa-adjust"></i>
                    Alto contraste
                </li>
            </a>
        </a>
            <span id="spanSidenav" style="font-size:33px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </ul>
        <div class="container">
            <h1 id="site_logo">
                <a href="/">
                    <span id="portal-title">Perguntas frequentes de uso do Siscoserv</span>
                </a>
            </h1>

        </div>
        <div class="site_logo_mobile">
            <h1>
                <a href="/">
                    <span>Perguntas frequentes de uso do Siscoserv</span>
                </a>
            </h1>

        </div>


        <script src="../stylesheets/contrast.class.js"></script>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "100%";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>

    </header>